.type-14 .progress-title {
  font-size: 16px;
  font-weight: 700;
  color: #011627;
  margin: 0 0 20px;
}
.type-14 .progress {
  height: 5px;
  background: #cbcbcb;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}
.type-14 .progress .progress-bar {
  box-shadow: none;
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}
.type-14 .progress .progress-bar::after {
  border-color: transparent;
  border-image: none;
  border-style: solid;
  border-width: 12px 6px 14px;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -26px;
}
.type-14 .progress .progress-value {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  position: absolute;
  top: -40px;
  right: 0;
}
.type-14 .progress.pink .progress-bar:after {
  border-bottom-color: #ff4b7d;
}
.type-14 .progress.green .progress-bar:after {
  border-bottom-color: #5fad56;
}
.type-14 .progress.yellow .progress-bar:after {
  border-bottom-color: #e8d324;
}
.type-14 .progress.blue .progress-bar:after {
  border-bottom-color: #3485ef;
}
.type-14 .circle {
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 1.2;
}
.type-14 .circle strong {
  line-height: 40px;
  position: absolute;
  text-align: center;
}
.type-14 .circle strong {
  left: 0;
  top: 30px;
  width: 100%;
  font-size: 30px;
}
.type-14 .circle strong i {
  font-style: normal;
  font-size: .6em;
  font-weight: 400;
}
.type-14 .circle span {
  display: block;
  margin-top: 12px;
}
.type-14 .col-md-6 {
  margin: 60px 0 60px;
  padding: 0 80px 0 80px;
}

.type-14 #p_line {
  padding-top: 12%;
  padding-bottom: 12%;
}
.type-14 #p_line .progress {
  position: relative;
  box-shadow: none;
  border-radius: 0;
  background-color: #BBBEC7;
}
.type-14 #p_line .progress>.progress-type {
  position: absolute;
  left: 0px;
  padding: 0px 10px;
  color: #ffffff;
}
.type-14 #p_line .progress>.progress-completed {
  position: absolute;
  right: 0px;
  padding: 0px 10px;
  color: #fff;
  margin-top: -25px;
}
.type-14 .progress-bar {
  background: #fff;
}
.type-14 .eltdf-btn {
  display: inline-block;
  vertical-align: middle;
}
.type-14 .eltdf-btn {
  position: relative;
  width: auto;
  margin: 0;
  font-family: Cormorant, serif;
  font-size: 19px;
  font-style: italic;
  line-height: 2em;
  letter-spacing: 0;
  font-weight: 400;
  outline: 0;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 10px 70px 9px;
}
.type-14 .eltdf-btn.solid {
  color: #fff;
  border: 1px solid transparent;
}
.type-14 .eltdf-btn.solid .line-top {
  left: 4px;
  top: 4px;
  height: 1px;
  width: calc(92%);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: left center;
}
.type-14 .eltdf-btn.solid .line {
  position: absolute;
  background-color: currentColor;
  -webkit-transition: transform .35s ease-out;
  -moz-transition: transform .35s ease-out;
  transition: transform .35s ease-out;
}
.type-14 .eltdf-btn.solid:hover .line-left,
.type-14 .eltdf-btn.solid:hover .line-right {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  transform: scaleY(1);
}
.type-14 .eltdf-btn.solid:hover .line-bottom,
.type-14 .eltdf-btn.solid:hover .line-top {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}
.type-14 .eltdf-btn.solid .line-top {
  left: 4px;
  top: 4px;
  height: 1px;
  width: calc(92%);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: left center;
}
.type-14 .eltdf-btn.solid .line-right {
  right: 4px;
  bottom: 4px;
  width: 1px;
  height: calc(92%);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: center bottom;
}
.type-14 .eltdf-btn.solid .line-bottom {
  right: 4px;
  bottom: 4px;
  height: 1px;
  width: calc(92%);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: right center;
}
.type-14 .eltdf-btn.solid .line-left {
  left: 4px;
  top: 4px;
  width: 1px;
  height: calc(92%);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: center top;
}
