.type-18 .map_right #map {
    height: 530px;
  }
  .type-18 #map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
  @media (max-width: 480px) {
    .type-18 map
          .offer {
     
      width: 100%;
    }
  }
  @media (max-width: 520px) {
    .type-18 map
        {
            width: 100%;
        }
    
  }
  
  