.type-7 .container {
  max-width: 1200px !important;
}
.type-7 .image>a>img {
  width: 100%;
  height: auto;
}
.type-7 .image {
  padding: 0 -20px;
  margin: 0 0 -20px;
}
.type-7 .col-md-2 {
  padding: 0 10px 0 10px;
}
.type-7 .din-din {
  padding: 0 0 17px 19% !important;
}
.type-7 .dan-dan {
  padding: 35px 0 17px 3% !important;
}
.type-7 .sub-item {
  margin-top: -20px;
}
@media (max-width: 1025px) and (min-width: 650px) {
  .type-7 .container {
    text-align: center !important;
  }
  .type-7 .col-md-2 {
    width: 30% !important;
    display: inline-block;
  }
  .type-7 .sub-item {
    margin-top: 20px;
  }
  .type-7 .item-content {
    padding: 0 !important;
  }
  .type-7 .din-din {
    padding: 0 !important;
  }
}
@media (max-width: 650px) and (min-width: 500px) {
  .type-7 .container {
    text-align: center !important;
  }
  .type-7 .sub-item {
    margin-top: 20px;
  }
  .type-7 .item-content {
    padding: 0 !important;
  }
  .type-7 .din-din {
    padding: 0 !important;
  }
}
