.type-14 body {
  font-family: Muli, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #818491;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
}
.type-14 h1,
.type-14 h2,
.type-14 h3,
.type-14 h4,
.type-14 h5,
.type-14 h6 {
  font-family: Muli, sans-serif !important;
  color: #121f38;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-transform: uppercase;
}
.type-14 h2 {
  font-size: 33px;
  line-height: 1.36em;
  font-weight: 300;
}
.type-14 h5 {
  font-size: 14px !important;
  line-height: 1.7em !important;
}
.type-14 .eltdf-st-text {
  font-family: Cormorant, serif;
  color: #c78665;
  font-weight: 400;
  font-style: italic;
  font-size: 21px;
}
.type-14 .column-left {
  position: relative;
  float: left;
  width: 50%;
}
.type-14 .column-right {
  position: relative;
  float: right;
  width: 50%;
}
.type-14 p {
  font-family: Muli, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #818491;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
}
.type-14 .text-1 {
  font-size: 12px;
  line-height: 2.0em;
  color: #818491;
  padding: 0 0 0 6px;
}
.type-14 a {
  float: left;
}
.type-14 .wpcf7-form-control-wrap {
  position: relative;
}
.type-14 .custom-contact-form .wpcf7-form-control.wpcf7-text {
  padding: 0;
  margin-bottom: 15px;
}
.type-14 #respond input[type=text],
.type-14 #respond textarea,
.type-14 .eltdf-style-form textarea,
.type-14 .post-password-form input[type=password],
.type-14 .wpcf7-form-control.wpcf7-date,
.type-14 .wpcf7-form-control.wpcf7-number,
.type-14 .wpcf7-form-control.wpcf7-quiz,
.type-14 .wpcf7-form-control.wpcf7-select,
.type-14 .wpcf7-form-control.wpcf7-text,
.type-14 .wpcf7-form-control.wpcf7-textarea,
.type-14 input[type=text],
.type-14 input[type=email],
.type-14 input[type=password] {
  position: relative;
  width: 100%;
  margin: 0 0 30px;
  padding: 0;
  font-size: 19px;
  font-weight: inherit;
  line-height: calc(38px);
  color: #c78665 !important;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0;
  outline: 0;
  cursor: text;
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-transition: border-color .2s ease-in-out;
  -moz-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
  font-style: italic;
  font-family: Cormorant, serif;
}
.type-14 .fa {
  color: #c78665 !important;
}
.type-14 .eltdf-btn.eltdf-btn-solid {
  color: #fff;
  background-color: #c78665;
  border: 1px solid transparent;
}
.type-14 .eltdf-btn {
  position: relative;
  width: auto;
  margin: 0;
  font-family: Cormorant, serif;
  font-size: 19px;
  font-style: italic;
  line-height: 2em;
  letter-spacing: 0;
  font-weight: 400;
  outline: 0;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 10px 70px 9px;
}
