.container {
  background: transparent;
  border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
}
.type-12 {
  position: relative;
  margin: 0 auto;
}
.row {
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.eltdf-row-grid-section {
  position: relative;
  margin: 0 auto;
  text-align: center;
  z-index: 20;
}
.vc_custom_1540982751396 {
  padding-top: 50px !important;
  padding-bottom: 60px !important;
}
@media only screen and (max-width: 823px) {
  .container {
    width: 500px;
  }
  .vc_custom_1540982751396 {
    width: 500px;
  }
}
